* {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.container__span {
  grid-column-start: span 2;
}

.canvas {
  border: 1px solid rgba(255, 0, 0, 0.2);
}
